
.pagination {
    text-align: center;

    .page-numbers {
        border: 0.063em solid #c3c3c3;
        color: #333333;
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;

        &:hover {
            background: #eeeeee;
            color: #000000;
            border-color: #cccccc;
        }

        &.current {
            background: #eeeeee;
            color: #000000;
        }

    }
}

//
// 2.0 - The Post Navigation
//
.page-links {
	margin: 1.125em 0;
	text-align: center;
}

.page-links > .post-page-numbers.current {
	background: #eeeeee;
	border: 0.063em solid #cccccc;
	color: #000000;
	padding: 0.5em 1em;
}

.page-links > .post-page-numbers {
	background: #ffffff;
	border: 0.063em solid #cccccc;
	color: #000000;
	padding: 0.5em 1em;
}

.page-links > .post-page-numbers:hover {
	background: #eeeeee;
	border: 0.063em solid #cccccc;
	color: #000000;
	padding: 0.5em 1em;
}

.posts-navigation,
.post-navigation {
	.nav-links {
		.nav-previous {
			float: left;
			margin: 0;

			.post-previous {
				color: #000000;
				display: block;
				font-weight: 700;
				line-height: 1rem;
				margin: 0;
				text-align: left;
			}

			.post-title {
				font-size: 0.813em;
			}
		}

		.nav-next {
			float: right;
			margin: 0;

			.post-next {
				color: #000000;
				display: block;
				font-weight: 700;
				line-height: 1rem;
				text-align: right
			}

			.post-title {
				font-size: 0.813em;
			}
		}
	}
}

.link-pages {
    text-align: center; 
}