/**
 *  Table of Content
 *
 *  1.0 - Elements
 *  2.0 - Typography
 *  3.0 - Alignments
 */

/**
 *  1.0 - Elements
 */
body {
    color: #677d89;
    font-family: 'Merriweather', serif;
}

/**
 *  2.0 - Typography
 */
.editor-post-title__input {
    font-family: 'Fira Sans', serif;
	font-size: 2.625em;
    text-align: center;
}

/**
 *  3.0 - Alignments
 */
.wp-block[data-align="wide"] {
    max-width: 73.125em;
}

.wp-block[data-align="full"] {
    max-width: none;
}

.wp-block {
    max-width: 50.625em;
}

